@charset "uf-8";

/* common */

body {
  margin: 0;
  color: #383e45;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

h3
{
  margin: 0;
}

img {
  object-fit: cover;

}

 /* header */



h1 {
  padding-left: 16px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  text-align: center;
  font-size: 0;
  display: flex;
}

a {
  text-decoration: none;
  padding: 16px 12px;
  font-size: 14px;
  font-weight: normal;
  color: black;
  margin-right: 8px;
}

.mainvisual {
  object-fit: cover;
  max-width: 1920px;
  width: 100%;
  height: 600px;
}

/* main */

.about-section {
  text-align: center;
  padding-top: 68px;
}

.about-flex {
  text-align: left;
  margin: 0 80px;
}

.about-section h2 { 
  margin: 0 auto;
}
h2 {
  font-size: 32px;
  border-bottom: 1px solid gray;
  display: inline-block;
}

.about-text {
  margin: 0 46px 80px 46px;
}
h3 {
  font-size: 16px;
  margin-top: 16px;
}
.kakeru {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  object-fit: cover;
}

.about-flex p {
  margin-bottom: 60px;
}
p {
  font-size: 14px;
  margin-top: 10px;
}

.features1 img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 60px;
}

.features2 img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  padding-top: 30px;
}

.features3 img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  padding-top: 30px;
}

.features1 div {
 text-align: center;
}

.features2 div {
  text-align: center;
}

.features3 div {
  text-align: center;
}

footer {
  color: gray;
  text-align: center;
  font-size: 9px;
  padding: 130px 0 5px 0;
}

@media (min-width: 600px) {

  body {
    padding: 0 4%;
  }

  h1 {
    max-width: 990px;
    margin: 0 auto;
  }

.about-flex {
  display: flex;
  gap: 30px;
  padding-top: 60px;
  margin: 0 95px;
  
} 

.about-flex img {
  margin-top: 0;
  justify-content: center;
}

.feature {
  text-align: center;
}

.features-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.feature img {
  max-width: 280px;
  max-height: 190px;
}

.features2 {
  padding-top: 30px;
}

.features3 {
  padding-top: 30px;
}
}