@charset "utf-8";

body {
  margin: 0;
}

header {
  background-color: #eee;
  text-align: center;
  padding: 32px 0;
  
}

header img {
  border-radius: 50%;
  /* display: block; 
  margin: 0 auto; */
}

h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 16px 0 0
}

p {
  margin: 0;
}

main {
   padding: 64px 0; 
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: normal;
  font-size: 24px;
}

h3 {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 20px;
}

section {
  width: 400px;
  margin: 64px auto 0;
}

section p {
  margin-top: 16px;
  line-height: 1.8;
  /* margin-bottom: 64px; */
}

footer {
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 64px;
}

small{
  font-size: 14px;
  color: #aaa;
}

address {
  margin-top: 16px;
}
a:hover {
  opacity: .7;
}